@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}
/* Common styling */
.grey { color: gray; }
.capitalize { text-transform: capitalize; }
.uppercase { text-transform: uppercase; }
.lower { text-transform: lowercase;}
.center { text-align: center; }
.bold { font-weight: bold; }
.transition { transition: 0.5s all ease; }

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 97.33%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/
header {   
  width: 100%;
  padding-top: 36px;
  position: absolute;
  z-index: 3;
}

h1 { float: left; }

h1 a {  
  color: #f0f0f0; 
  font-size: 19px;
}

h1 a span{ 
  color: #90988d;
  font-size: 14px;
  font-weight: bold;
 }

.menu {
  display: inline-block;
  vertical-align:bottom;
  color: #fff;
  font-size: 15px;
}

nav {  float: right; }
nav ul {  display: none; }

.ham {
  width: 13px;
  height: 100%;
  display: inline-block;
  vertical-align: bottom;
  color: #fff;
}
   
.ham span {
  width: 100%;
  height: 2px;
  margin: 2px 0;
  display: block;
  background: #fff;
  text-indent: -99999px;
  transition:  0.5s ease;
}


.ham:hover + ul{
  width: 100%;
  display: block;
  float: none;
  position: absolute; 
  top: 95%;
  right: 0;
  left: 0;
  background-color: #269384;
  text-align: center;
}

nav ul li {  display: block; }
nav ul li a {  color: #012527; }
/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/
/* banner styles starts */
.slides li:not(.active){ display: none;}
.active {  position: relative; }
.banner { position: relative; }

.slides li {
  width: 100%;
  margin: 0 auto;
}

.banner .active .banner-content {
  width: 100%;
  position: absolute;
  z-index: 2;
  top: 48%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}

.outer-span{
  width: calc(87% - 4px);
  display: inline-block;
  color: #869ca6;
  font-size: 15px;
  letter-spacing: 2px;
}

.banner-content .temp { 
  display: inline-block;
  color: #fff; 
  font-size: 15px;
  letter-spacing: 2px;
}

h2::before {
  content: "";
  width: calc(100% - 80%);
  height: 1px;
  margin: 27px auto 13px;
  display: block;
  background-color: #fff;
}


h2 {
  color: #fff;
  font-size: 105px;
  text-align: center;
}

.slides {  position: relative; }

.button {
  width: 100%;
  position: absolute;
  bottom: 5%;
  text-align: center;
}

.button li {  margin-right: calc(1.3% - 4px); }
.button li:last-child { margin-right: 0;}

.dots {
  text-indent: -9999px;
  display: inline-block;
}

.dots::before{
  content: "\f111";
  float: right;
  color: #5A7B81;
  font-family: fontAwesome;
  font-size: 13px;
  text-indent: 0;
}

.dots:hover:before {
  cursor: pointer;
  color: #fff;
}

.button li:hover {  color: #fff; }
.dot-active .dots::before { color: #fff; }
/* banner styles ends */
/* articles styles starts */
.articles { background-color: #F2F2F2; }
.articles .wrapper {  width: 86.08%; }
.articles ul { padding: 88px 0 93px;}
.articles li {  width: calc(48% - 2px); }
.articles li:nth-child(2) { float: right; }

.figure-content {
  background-color: #fff;
  text-align: center;
}

.figure-content span {
  display: inline-block;
  padding-top: 48px;
  color: #a5a8a6;
  font-size: 12px;
  letter-spacing: 2px;
}

h3::before {
  content: "";
  width: calc(100% - 70%);
  height: 1px;
  margin: 11px auto;
  display: block;
  background-color: #a5a8a6;
  opacity: 0.5;
}

h3 {
  margin-bottom: 35px;
  color: #5a5b61;
  font-size: 26px;
}

.figure-content p {
  width: 83%;
  padding-bottom: 29px;
  margin: 0 auto;
  color: #aaa9ac;
  line-height: 22px;
}

.figure-content a{
  padding: 10px 12px;
  border: 2px solid #d9d9d9;
  margin-bottom: 42px;
  background: transparent;
  color: #53555e;
  font-size: 15px;
}

.figure-content a:hover {
  background-color: #5a5b61;
  color: #F2F2F2;
}
/* articles styles ends */
/* morbi style starts */
.morbi span,
.gallery span {
  width: 100%;
  padding-top: 88px;
  display: inline-block;
  color: #63696d;
  font-size: 12px;
  letter-spacing: 2px;
  text-align: center;
}

.morbi {
  background-image: url("https://via.placeholder.com/1351X237/163320/163320");
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.morbi h3,
.gallery h3 {
  padding-bottom: 78px;
  margin-bottom: 0;
  color: #f6ffff;
  text-align: center;
  text-transform: capitalize;
}

.morbi h3::before { 
  width: calc(100% - 50%);
  height: 1px;
  margin: 14px auto 12px;
  background-color: #63696d;
}
/* morbi style ends */
/* gallery styles starts */
.gallery { background-color: #F2F2F2; }
.gallery span {  color: #bab2c2; }

.gallery h3 { 
  padding-bottom: 38px;
  margin-bottom: 0;
  color: #2c3f3c; 
}

.list-container { text-align: center; }

.gallery h3::before { 
  width: calc(100% - 60%);
  height: 1px;
  margin: 14px auto 12px;
  background-color: #bab2c2;
}

.list-container li {
  width: 40%;
  border: 14px solid #fff;
  margin-bottom: 93px;
  cursor: pointer;
  transition: 0.5s all ease;
} 

.list-container li:hover {
  box-shadow: 2px ;
  transform: scale(1.02);
}

.list-container li:nth-child(1),
.list-container li:nth-child(3) {  margin-right: calc(4.5% - 5px); }
/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 
footer {  background-color: #000; }

.social {
  padding-top: 64px;
  text-align: center;
}

.social li { 
  margin-right: calc(1.3% - 4px);
  text-align: center; 
}

.social li:last-child { margin-right: 0; }

.facebook {
  display: inline-block;
  text-indent: -9999px;
}

.facebook::before{
  content: "\f09a";
  float: right;
  color: #808080;
  font-family: fontAwesome;
  font-size: 30px;
  text-indent: 0;
}

.twitter {
  display: inline-block;
  text-indent: -9999px;
}

.twitter::before{
  content: "\f099";
  float: right;
  color: #808080;
  font-family: fontAwesome;
  font-size: 30px; 
  text-indent: 0;
}

.instagram {
  display: inline-block;
  text-indent: -9999px;
}

.instagram::before{
  content: "\f16d";
  float: right;
  color: #808080;
  font-family: fontAwesome;
  font-size: 30px;
  text-indent: 0;
}

.gmail {
  display: inline-block;
  text-indent: -9999px;
}

.gmail::before{
  content: "\f003";
  float: right;
  color: #808080;
  font-family: fontAwesome;
  font-size: 30px;
  text-indent: 0;
}

.instagram:hover::before,
.facebook:hover::before,
.twitter:hover::before,
.gmail:hover::before { color: #fff; }

.rights { 
  width: 100%;
  padding: 42px 0 60px;
  display: inline-block;
  color: #808080;
  font-size: 14px;
  text-align: center;
}
 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {
  /* article style starts */
  .articles .wrapper { width: 96.08%; }

  .articles ul { 
    padding: 30px 0 30px;
    text-align: center;
  }

  .articles li {  
    width: calc(88% - 2px); 
    margin-bottom: 20px;
  }

  .articles li:nth-child(2) { float: none; }
  .figure-content span {  font-size: 16px; }
  h3 { font-size: 30px; }
  .figure-content p {  font-size: 18px;}

  .figure-content a{
    padding: 12px 14px;
    font-size: 18px;
  }

  .figure-content a:hover {
    background:transparent;
    color: #53555e;
  }
  /* articles styles ends */
  /* morbi style starts */
  .morbi span,
  .gallery span { font-size: 16px;}

  /* morbi style ends */
  /* gallery styles starts */
  .list-container { text-align: center; }

  .list-container li {
    width: 80%;
    margin-bottom: 43px;
    cursor: none;
    transition: none;
  } 

  .list-container li:hover {
    box-shadow: none ;
    transform: none;
  }

  .list-container li:nth-child(1),
  .list-container li:nth-child(3) {  margin-right:0; }
  /* footer style starts */
  .facebook {
    display: inline-block;
    text-indent: -9999px;
  }

  .gmail::before,
  .instagram::before,
  .twitter::before,
  .facebook::before{  font-size: 35px;}
  .instagram:hover::before,
  .facebook:hover::before,
  .twitter:hover::before,
  .gmail:hover::before { color:#808080 ; }
  .rights {  font-size: 18px; }
  /* footer style ends */
}  
/* media query 768 starts  */
@media only screen and (max-width: 768px) {
  /*=================================
  Header styling starts here
=================================*/

h1 { float: left; }

h1 a {  font-size: 25px; }
h1 a span{  font-size: 19px; }

.menu {
  display: inline-block;
  vertical-align:bottom;
  color: #fff;
  font-size: 25px;
}

nav {  float: right; }
nav ul {  display: none; }
.ham {  width: 25px; }
   
.ham span {
  height: 4px;
  margin: 5px 0;
}


nav ul li {  display: block; }
nav ul li a {  
  color: #012527;
  font-size: 20px;
}
/*=================================
  Header styling ends here
=================================*/  
/* banner styles starts */

.slides li {
  width: 100%;
  margin: 0 auto;
}

.outer-span{
  padding-top: 30px;
  width: calc(95% - 4px);
  font-size: 18px;
}

.banner-content .temp { 
  padding-top: 30px;
  font-size: 18px; 
}

h2::before {
  width: calc(100% - 40%);
  margin: 37px auto 23px;
}

h2 {  font-size: 125px; }
.dots::before{  font-size: 16px; }

.dots:hover:before {
  cursor: none;
  color: #fff;
}

.dot-active .dots::before { color: #fff; }
/* banner styles ends */
  .articles .wrapper { width: 98.08%; }
  .articles ul {  padding: 10px 0;}
  .articles li {  width: calc(98% - 2px); }
  .figure-content span {  font-size: 18px; }
  h3 { font-size: 35px; }
  .figure-content p {  font-size: 20px;}

  .figure-content a{
    padding: 14px 16px;
    font-size: 20px;
  }

  .figure-content a:hover {
    background:transparent;
    color: #53555e;
  }
  /* articles styles ends */
  /* morbi style starts */
  .morbi span,
  .gallery span { font-size: 18px;}
  .morbi h3::before {
    width: calc(100% - 30%);
  }
  /* morbi style ends */
  /* gallery styles starts */
  .list-container li {
    width: 90%;
    margin-bottom: 33px;
  } 

  .gallery h3::before {  width: calc(100% - 20%); }
  .list-container li:nth-child(1),
  .list-container li:nth-child(3) {  margin-right:0; }
  /* footer style starts */

  .gmail::before,
  .instagram::before,
  .twitter::before,
  .facebook::before{  font-size: 40px;}
  .instagram:hover::before,
  .facebook:hover::before,
  .twitter:hover::before,
  .gmail:hover::before { color:#808080 ; }
  .rights {  font-size: 22px; }
  /* footer style ends */
}